{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: message.hbs
 * 
 * Description: Message page.
 ************************************************************************* --}}
<head>
    <script defer type="text/javascript" src="/js/message_form.js"  ></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/message.css' />
</head>

<div class="body">
    <form id="message_page" method="POST" action="/message/create/{{current_user.username}}/{{post_id}}/{{course_prefix}}/{{course_postfix}}"
        enctype="application/x-www-form-urlencoded">
        <h2>Send message</h2>
        <p id="username" >To: {{current_user.username}}</p>
        {{#if logged}}
        <p id="sender">From: {{sender_username}}</p>
        {{/if}}
        <p id="course">Course: {{course_prefix}}{{course_postfix}}</p>
        <p>Date: <span id ="date-time"></span>
        <script>
             var dt= new Date();
             document.write(new Date().toLocaleDateString()); </script>
        </p>

        <div>
            {{#if logged}} 
                <textarea class= "text_area" id="message-text" name = "message" value ="message" placeholder="Type your message here" rows="5"></textarea><br><br>
                <button  class="registerbtn" id="message-button" type="submit">Send</button> <br><br><br>
            {{else}}
                <p>You need to login or register an account before you can send message.</p><br><br>
                <div id="user_nav">
                    <a href="/login" >Login</a><br><br>
                    or <br><br>
                    <a href="/register" >Register</a><br><br><br>
                </div>
            {{/if}}
        </div>
    </form>   
</div>
