{{!-- *************************************************************************
* Class: CSC 0648-03 Software Engineering Fall 2021
* Team: 1
* Name: Justin Lam
* Aviral Puri
* Dinesh Thapa
* Kurt D Resayo
* Wesley J Xu
* Chung Hei Fong
*
* File: posts.hbs
*
* Description: Display indivdual post
************************************************************************* --}}

<div id="post_details">
    <div id="post_username">Username: {{current_post.username}}</div>
    <div id="post_name">Name : {{current_post.first_name}} {{current_post.last_name}}</div>
    <div id="post_availability">Availabiltiy: {{current_post.availability}}</div>
    <div id="post_course">Course: {{current_post.course_prefix}}{{current_post.course_postfix}}</div>
    <img class="post_photo" src="../{{current_post.thumbnail}}" alt="image missing"><br>
    <a href="/users/{{current_post.username}}"> <button class = "modal_button_2">{{current_post.username}} Profile</button></a><br />                    
</div>
