{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: search_results.hbs
 * 
 * Description: planned search_result page, is not in working condition
 ************************************************************************* --}}

<div id = "main_content" class="body">
    <img src=".\images\frontpag.png" alt="coming soon" width="500" height="600">
    <div class="card_body">
        <img class="card-image" src={{photopath}}>
        <p class="card_title">{{first_name}}</p>
        <p class="card_text">{{last_name}}</p>
        <p class="card_text">{{date}}</p>
        <p class="card_text">{{course}}</p>
        <p class="card_text">{{time}}</p>
        <p class="card_text">{{class}}</p>  
    </div>
</div>