{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: card.hbs
 * 
 * Description: card partials that takes input to
 *              generate the tutoring post
 ************************************************************************* --}}

<section class="card_body" id="post_{{post_id}}">
        <p class="card_title card_left_item"> <b>Course:</b> {{course_prefix}} {{course_postfix}}</p>
        <p class="card_right_item">
                <a href="/message/{{username}}/{{post_id}}/{{course_prefix}}/{{course_postfix}}"><button class="registerbtn">Contact {{username}}</button></a>
        </p>
        {{!-- <p class="card_title"> <b>Course:</b> {{course_prefix}} {{course_postfix}} <a href="/message/{{username}}/{{post_id}}/{{course_prefix}}/{{course_postfix}}"><button class="registerbtn">Contact {{username}}</button></a></p> --}}
        {{!-- <p class="card_title">{{avg_rating}}</p> --}}
        <div class="card_text card_cross_row">
                <p><b>Avaliability:</b></p>
                <p>{{availability}}</p>
        </div> 
        <p class="card_left_item">
                <b>Tutor's Profile:</b>
        </p>
        <p class="card_right_item">
                <a href="/users/{{username}}"><button class="registerbtn">{{username}} </button></a>
        </p>
        <div class="card_cross_row">
                <img class="card_image" src="../{{thumbnail}}" alt="image missing" width="100" height="100">
        </div> 
</section>