<div class="card-body">
    <img class="card-image" src={{photopath}} width="100" height="100"></img>
    <p class="card-title">{{first_name}}</p>
    <p class="card-text">{{last_name}}</p>
    <p class="card-text">{{date}}</p>
    <p class="card-text">{{course}}</p>
    <p class="card-text">{{time}}</p>
    <p class="card-text">{{class}}</p>  
</div>