{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: header.hbs
 * 
 * Description: header for all pages as a partial
 ************************************************************************* --}}

{{!-- Legal to prompt users this is not a real website --}}
<div class = "cross_screen_row banner"> 
  SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only
</div>

{{!-- Site Title --}}
<div class = "cross_screen_row site_section">
   CSC 648-848, Fall 2021, Team 1
</div>

{{!-- Navigational bar --}}
<div class = "cross_screen_row main_navbar"> 
  <div id="default_nav">
    <a href="/" ><img src="..\images\logo.png" alt="TwoHelpYou" width="90" height="40"></a>
    <div> | <a href="/about_us" >About US</a> | </div>
  </div>
  <form id="search_form">
    <div class="search_bar">
      <a id="post_button" href="../post_form">Post</a> 
      <select class="search_nav" name="{{prefix}}" id="select_menu">
        <option value="">Major</option>
        <option value="">All</option>
        {{#each course as |c|}}
          <option id="{{c.course_prefix}}" value="{{c.course_prefix}}"> 
            {{c.course_prefix}}</option>
        {{/each}}
      </select>
      <input class="search_nav" id="search_text" type="search" placeholder="Course Number e.g. 101"
        value="{{#if postfix}}{{postfix}}{{/if}}"
        name="search_text" aria-label="Search">
      <button class="search_nav" type="button" id="search_button">&#x1F50E</button>
    </div>
  </form>
  {{#if logged}}
  <div id="user_nav"> | <a href="" id="logout" >Logout</a></div>
  {{else}}
  <div id="user_nav">
    {{!--<a href="/login" >Login</a>--}} | <button type="button" id="login_button">login</button> | 
    {{!-- <a href="/register" >Register</a> --}}<button type="button" id="register_button">Register</button>
  </div>
  {{/if}}
</div>