{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: header.hbs
 * 
 * Description: header for all pages as a partial
 ************************************************************************* --}}

<head>
    <script defer type="text/javascript" src="/js/login.js"  ></script>
</head>

{{!-- Legal to prompt users this is not a real website --}}
<div class = "cross_screen_row banner"> 
  SFSU Software Engineering Project CSC 648-848, Fall 2021 For Demonstration Only
</div>

{{!-- Site Title --}}
<div class = "cross_screen_row site_section">
    <img src="..\images\logo.png" alt="TwoHelpYou" width="90" height="40">
   | CSC 648-848, Fall 2021, Team 1
</div>

{{!-- Navigational bar --}}
<div class = "cross_screen_row main_navbar"> 
  <div id="default_nav"><a href="/" >Home</a> | <a href="/about_us" >About US</a> | </div>
  <form id="search_form">
    <div class="search_bar">
      <select name="{{prefix}}" id="select_menu">
        <option value="">All</option>
        {{#each course as |c|}}
          <option id="{{c.course_prefix}}" value="{{c.course_prefix}}"> 
            {{c.course_prefix}}</option>
        {{/each}}
      </select>
      <input id="search_text" type="search" placeholder="Search"
        value="{{#if postfix}}{{postfix}}{{/if}}"
        name="search_text" aria-label="Search">
      <button type="button" id="search_button">&#x1F50E</button>
    </div>
  </form>
  {{#if logged}}
  <div id="user_nav"> | <a href="/message_page" >Messages</a> | <a href="" id="logout" >Logout</a></div>
  {{else}}
  <div id="user_nav">{{!--<a href="/login" >Login</a>--}}<button id="myBtn">login</button> | <a href="/register" >Register</a></div>
  {{/if}}
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

<!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form class="requires-validation login_box" novalidate id="login_page" method="POST" action="/users/login"
        enctype="application/x-www-form-urlencoded" >
        <h2>Login</h2>
        <div class="login_input">
            <p>
                <label for="user_name">Username: </label><br/>
                <input class="input" type="text" name="user_name" required placeholder="Username" minlength="3"/><br/>
            </p>
            <p>
                <label for="password">Password: </label><br/>
                <input class="input" type="password" name="password" id="password" required placeholder="Password" minlength="8"/><br/>
            </p>
        </div>
        <button class="registerbtn" id="login_button" type="submit" value="login" name="Login" />Login</button><br /><vr />
        {{!-- <button type="submit" class="registerbtn"> Login </button> --}}
        <div class = "container">
            <p>
                Do not have an account yet? Click here to
                <a href="../register">Register</a>!
            </p>
        </div>
    </form>
  </div>
</div>
