{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: message.hbs
 * 
 * Description: card partials tof user messages
 ************************************************************************* --}}

<section class="card_body" id="message_{{message_id}}">
        <a href="/users/{{username}}" class="card_title">{{username}}</a><br />
        <p class="card_title"> {{time}}</p>
        <p class="card_text">{{message}}</p>
</section>