{{!-- *************************************************************************
 * Class: CSC 0648-03 Software Engineering Fall 2021
 * Team: 1
 * Name:  Justin Lam
 *        Aviral Puri
 *        Dinesh Thapa
 *        Kurt D Resayo
 *        Wesley J Xu
 *        Chung Hei Fong
 * 
 * File: teaches.hbs
 * 
 * Description: card partials that takes input to
 *              generate the posts the users post
 ************************************************************************* --}}

<section class="card_body" id="post_{{post_id}}">
        <p class="card_title">{{course_prefix}} {{course_postfix}}</p>
        <p class="card_title">{{avg_rating}}</p>
        <p class="card_text">{{availability}}</p>
<<<<<<< HEAD
        <a href = "/post/{{post_id}}">Post Details</a>
=======
        <a href="/message/{{username}}/{{post_id}}/{{course_prefix}}/{{course_postfix}}"><button class="registerbtn">Contact Tutor</button></a>
>>>>>>> b7ebc4ff75d1fbadc53e9605a5f1f52c1ceeb8e4
</section>